#darkMode {
    background: transparent url('/images/night-mode.png') no-repeat center;
    width: 100%;
    height: 45px;
    filter: grayscale(100%);
    border: none;
    border-radius: 9999px;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}
#darkMode:hover{
    filter: none !important;
    background-color: rgb(4, 0, 56);
}
#darkMode.clicked {
    filter: none !important;
    background-color: rgb(4, 0, 56);
}
